
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
.cont {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #6F53A9;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}
input[type="submit"]:hover {
    background-color: #4cae4c;
}

select{
    font-weight:bold;
}

#voltar{
    position: relative;
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: left;
    text-decoration: none;
    color:black;
  }

  #voltar:hover{
    font-weight: bold;
  }

